* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-sans-serif;
  font-size: 14px;
}

body a {
  text-decoration: none;
}

.clear {
  clear: both;
}

header {
  height: 50px;
  background-color: #34495E;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header ul li {
  display: inline-block;
  margin-left: 10px;
}

.container {
  width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 42% 16% 42%;
}

header .container {
  height: 100%;
}

.header-content {
  line-height: 50px;
}

.header-middle {
  text-align: center;
}

.header-middle img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-top: 10px;
}

.header-right ul {
  float: right;
}

.header-right ul li {
  margin-right: 10px;
}

.header-right ul li input {
  height: 27px;
  width: 200px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  background-color: #0A1F2D;
  color: #fff;
  background-image: url("../img/search.png");
  background-position: 94% center;
  background-repeat: no-repeat;
  background-size: 15px;
}

section .container {
  grid-template-columns: 25% 50% 25%;
  margin-top: 10px;
  align-items: start;
}

.sidebar-languages {
  border: 1px solid #707070;
  border-radius: 5px;
}

.sidebar-languages h1 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-languages ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-languages li {
  margin-left: 10px;
  font-weight: lighter;
  margin-top: 10px;
}

.sidebar-languages li a {
  text-decoration: none;
  color: black;
}

.sidebar-footer {
  border: 1px solid #707070;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  background-color: #fff;
}

.sidebar-footer p {
  font-weight: lighter;
  line-height: 20px;
}

.sidebar-footer ul {
  margin-top: 20px;
}

.sidebar-footer .social-media li {
  display: inline-block;
  margin-right: 10px;
}

.sidebar-footer img {
  width: 50px;
  height: 50px;
}

.login {
  border: 1px solid #707070;
  border-radius: 5px;
  padding-right: 5%;
  padding-left: 5%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fff;
  display: none;
}

.login ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login ul li input {
  height: 27px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #707070;
  border-radius: 5px;
}

.btnLogin {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: #0A1F2D;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.btnSignup {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: #0A1F2D;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.signup {
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fff;
  display: none;
}

.signup ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup ul li input {
  height: 27px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #707070;
  border-radius: 5px;
}

.signup .tips {
  font-size: 10px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.submit {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", sans-sans-serif;
  background-color: #fefefe;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.right {
  text-align: right;
}

.submit-header {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  color: #fff;
  background-color: #34495E;
  position: relative;
  border-radius: 4px 4px 0 0;
}

.submit-header .close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.submit-header h3 {
  width: 75%;
  padding: 10px 10px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.submit-body {
  padding: 25px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.submit-body input[type=text] {
  width: 100%;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-style: solid;
  font-weight: 400;
  font-size: 19px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
  line-height: 1.3125;
}

input:invalid+span:after {
  content: '✖';
  border-bottom-color: rgb(224, 36, 94);
}

input:valid+span:after {
  content: '✓';
  color: #34495E;
}

.submit-body .example {
  line-height: calc(19.6875px);
  font-size: 13px;
  color: #707070;
  text-align: right;
  font-weight: 400;
}

.submit-body select {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.submit-body h4 {
  font-weight: 400;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-body .radio-container {
  display: inline;
  font-size: 10px;
  margin-left: 10px;
}

.submit-footer {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
}

.submit-footer button {
  width: 90px;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  border: 1px solid #34495E;
  background-color: #34495E;
  color: #fff;
  margin-bottom: 10px;
}

.is-visible {
  display: block;
}
